<div class="main-container h-screen ">
  <div class="row min-h-full d-flex justify-items-center items-center">
    <div class="min-w-[300px] max-w-[500px] mx-auto px-[30px]">
      <mat-card>
        <mat-card-content>
          <mat-card-title class="text-center">Iniciar sesión</mat-card-title>
          <mat-card-subtitle>Ingresa tus credenciales en el formulario</mat-card-subtitle>


          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field>
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="username" placeholder="Ej. juanito">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" placeholder="">
            </mat-form-field>


            <div class="flex justify-items-center items-center">
              <button class="mx-auto w-full" mat-raised-button [disabled]="loginForm.invalid" color="primary">Enviar</button>
            </div>


          </form>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
