@if(item ){
  @if(item.second_id.length && item.id.length){
    {{ value[item.id][item.second_id] ?? '--' }}
  }@else if(item.id && value[item.id] != null ){
    @switch (item.type){
      @case ('text'){
          {{ value[item.id] }}
      }
      @case ('time'){
        {{ value[item.id] }}
      }
      @case ('decimal'){
        {{ value[item.id] | number:'.2-6' }}
      }
      @case ('integer'){
        {{ value[item.id] }}
      }
      @case ('numeric'){
        {{ value[item.id] }}
      }
      @case ('date'){
        {{ value[item.id] | date:'dd/MM/yyyy' }}
      }
      @case ('datetime'){
        {{ value[item.id] | date:'dd/MM/yyyy HH:mm' }}
      }
      @case ('tinyINT'){
        {{ value[item.id] ? 'Activo': 'Inactivo' }}
      }
      @default {
        {{ value[item.id] }}
      }
    }
  } @else {
    <span>--</span>
  }
}

<!--
<ng-container *ngIf="item?.second_id !== ''; else templateItem">
  <ng-container *ngIf="value[item?.id]; else noneData">
    {{ value[item?.id][item?.second_id] }}
  </ng-container>
</ng-container>-->

