<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img [src]="user?.avatar" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class="">{{user?.first_name | uppercase}}<i
                class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon fontIcon="settings"></mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon fontIcon="account_box"></mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon fontIcon="notifications_off"></mat-icon> Disable notifications </button>
        <button (click)="logout()" mat-menu-item>
            <mat-icon fontIcon="exit_to_app"></mat-icon> Salir </button>
    </mat-menu>

</div>
<mat-nav-list appAccordion>

  @for(m of menuItems.getMenuGroups(); track $index){

    @if(m.name){
      <div class="w-full block text-left text-[12px] font-semibold bg-gray-50 mb-[10px] px-[16px] ">{{m.name}}</div>
    }

    @for(menuitem of m.menus; track menuitem.name){
      <mat-list-item appAccordionLink  routerLinkActive="selected">
        @if(menuitem.type === 'link'){
          <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
          </a>
        }
      </mat-list-item>
    }
  }

 <!-- <div class="w-full text-center text-[12px] font-semibold bg-gray-200">PRINCIPAL</div>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected">
      @if(menuitem.type === 'link'){
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name }}</span>
          <span fxFlex></span>
        </a>
      }
    </mat-list-item>-->

</mat-nav-list>
